.container {
  display: flex;
  align-items: flex-end;
}
/* style for bars */
.bar {
  background-color: rgb(1, 82, 9);
  margin: 5px;
}
/* style for values */
.value-label {
  text-align: center;
  width: 20px;
}
